/* General Page Layout */
.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Page Header */
.header {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Search Bar */
.search-container {
  margin-bottom: 20px;
}
.a{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search-input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Recipe List Wrapper */
.recipe-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .search-input {
    width: 90%;
  }
}
